<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduStack</title>
</head>
<style>
   *{
      margin: 0;
      box-sizing: border-box;
      padding: 0;
   }
   .aside{
      width: 20%; 
      height: 100vh;
   }
   body{
      display: flex;
   }
   main{
      width: 80%;
   }
   .userContent{
      display: flex;
      position: relative; 
   }
   .user{
      position: absolute;  
      right: 10px;
      text-align: center;
      top: 30px;
      width: 30%;
   }
    .lv{
      position: absolute;
      right: 10px;
      top: 10px;

      width: 50px;
      height: 30px;
   
   }
   .modal{
      display: none;
   }

   .tiempoPlataforma{ 
      height: 300px;
      padding: 10px;
      width: 70%;

   }

   .tiempoPlataforma h1{
      font-size: 20px;
      padding: 10px;

   }

   .tiempoPlataforma h1 span{
      color: red;
   }
   .contentOptions{
      width: 600px;
      display: flex; 
      background-color: #333;
      border-radius: 5px;
      padding: 1rem;

   }

   .contentOptions  div{
      display: flex;
   }

   .contentOptions div div{
      display: flex;
      flex-direction: column;
      cursor: pointer;
   }

</style>
<body>

   <aside class="aside">
      </aside>
 
        <main>
         <div class="userContent">

            <div class="tiempoPlataforma">
               <h1>
                  Tiempo en la plataforma: <span> 1:00:00 / HS </span>

               </h1>

               <h1>Breve descripcion.</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati rerum quia a error ullam illo laborum doloribus soluta sequi. Totam?</p>

               <div class="contentOptions">
                  <div>
                      <div>
                        
                          <h3>Mis Post</h3>
                          <p>+32</p>
                      </div>
                      <div>
                          <h3>Mi Documentación / Cursos</h3>
                          <p>+3</p>
                      </div>
                  </div>
              </div>
            </div>

            <div class="user">

            <span class="lv">LV 10</span>
               <img src="https://via.placeholder.com/150" alt="Profile Picture">
               <h2>Clarena Muñoz</h2>
               <p>@cliMunio12</p>
               <p>carlosandresmunioz23@gmail.com</p>
               <p>+57 301 4008388</p>
               <div>
                   <span>❤️ 58</span>
                   <span>⭐ 32</span>
               </div>
            </div>
             

            
        </div>
     
            
            <div>
               
                
                <div>
                    <div >
                        <h3> Documento/Curso</h3>
                        <h3> Mis Post</h3>
                        <form class="modal" action="#">
                            <div>
                                <label for="titulo">Título</label>
                                <input type="text" id="titulo" name="titulo">
                            </div>
                            <div>
                                <label for="descripcion">Descripción</label>
                                <textarea id="descripcion" name="descripcion" rows="4"></textarea>
                            </div>
                            <div>
                                <label for="contenido">Contenido</label>
                                <textarea id="contenido" name="contenido" rows="10"></textarea>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="myPostContent">
                  <div class="post">
                      <div>
                          <img src="https://via.placeholder.com/150" alt="Post Picture">
                      </div>
                      <div>
                          <h3>Título del Post</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quo, rem, doloribus voluptas repellendus autem ab neque!</p>
                          <p>By: Clara Muñoz</p>
                          <p>25/02/2021</p>
          
                          <label for="comentar">Comentar</label>
                          <select>
                           <option value="0">S</option>
                           <option value="1">Guardar</option>
                           <option value="2">Reportar</option>

                          </select>

                  </div>
                </div>
            </div>


            <div class="myDocumentation">
               <div class="post">
                   <div>
                       <img src="https://via.placeholder.com/150" alt="Post Picture">
                   </div>
                   <div>
                       <h3>Título de LA Documentación</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quo, rem, doloribus voluptas repellendus autem ab neque!</p>
                       <p>By: Clara Muñoz</p>
                       <p>25/02/2021</p>

                       <button>Editar</button>
                       <button>Borrar</button>
       
               </div>
             </div>
         </div>
        </main> 
</body>
</html>
